
#giohang {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#giohang > .giohang-header {
    width: 100%;
    background-color: var(--color-3);
}

#giohang > .giohang-header > h1 {
    padding: 5px 0px;
    text-align: center;
    color: var(--color-2);
}
#giohang > .giohang-header > p {
    padding-bottom: 15px;
    text-align: center;
    color: var(--color-4);
}

.giohang-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-4);
    width: 100%;
    padding: 20px 20px;
    row-gap: 20px;
    background-image: url("../images/bg/bg-1.png");
    background-size: cover;

}

.giohang-list:not(:has(:first-child)) {
    height: 500px;
}

.giohang-item {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-1);
    background-color: var(--color-4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.giohang-item .booking-item {
    display: grid;
    grid-template-areas:
        "infomation-container"
        "input-container";
}

.booking-item label{
    display: block;
    font-weight: bold;
}

.booking-item > .item-infomation-container 
{
    grid-area: infomation-container;
    display: flex;
    flex-direction: column;
}

.item-infomation-container > img {
    width: 100%;
    padding: 5px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.item-infomation-container > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.item-infomation-container > div > p > a {
    font-style: italic;
    text-decoration: underline;
}

.booking-item .item-input-container {
    grid-area: input-container;
    display: grid;
    padding: 5px;
    column-gap: 10px;
    grid-template-areas: 
        "address address"
        "time date"
        "request request"
        "price button";
}


.booking-item .item-input-container .item-address {
    grid-area: address;
}

.booking-item .item-input-container .item-time {
    grid-area: time;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.booking-item .item-input-container .item-date {
    grid-area: date;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.booking-item .item-input-container .item-address input,
.booking-item .item-input-container .item-date input,
.booking-item .item-input-container .item-time input,
.booking-item .item-input-container .item-request textarea {
    appearance: none;
    border: none;
    width: 100%;
    margin: 5px 0px;
    padding: 10px 5px;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.booking-item .item-input-container input:focus,
.booking-item .item-input-container textarea:focus {
    outline-color: var(--color-3);
}

.booking-item .item-input-container .item-request {
    grid-area: request;
}

.booking-item .item-input-container .item-request textarea {
    height: 100px;
}

.booking-item .item-input-container .item-price {
    grid-area: price;
    text-align: left;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    font-size: 15px;
}

.booking-item .item-input-container .item-button-container {
    grid-area: button;
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking-item .item-button-container > button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    color: var(--color-4);
    cursor: pointer;
    margin: 0px;
    font-weight: bold;
}
/* .booking-item .item-button-container > button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
} */

.item-button-container > button.btn-remove {
    background-color: gray;
}
.item-button-container > button.btn-remove:hover {
    background-color: #5a5561;
}

.booking-item .item-button-container > button.btn-buy {
    background-color: #7C3AED;
}

.booking-item .item-button-container > button.btn-buy:hover {
    background-color: #5219b4;
}


@media screen and (min-width:768px) {

    .giohang-list{
        padding: 20px 50px;
    }

    .giohang-item .booking-item {
        grid-template-areas: 
        "infomation-container input-container";
        grid-template-columns: 1.5fr 2fr;
    }

    .booking-item > .item-infomation-container 
    {
        display: grid;
        grid-template-areas: 
        "img"
        "title";
        grid-template-rows: 3fr 0.6fr;
    }

    .booking-item .item-infomation-container > img {
        grid-area: img;
        height: 100%;
    }
    .item-infomation-container > div {
        grid-area: title;
    }

    .booking-item label{
        font-size: 17px;
    }

    .booking-item .item-infomation-container h3 {
        font-size: 20px;
    }
    .booking-item .item-infomation-container p {
        font-size: 18px;
    }

    .booking-item .item-input-container .item-price {
        font-size: 18px;
    }

    .booking-item .item-input-container {
        padding: 10px 10px 0px 10px;
    }
    .booking-item .item-button-container > button {
        padding: 10px 20px;
    }
}

@media screen and (min-width:1024px) {
    #giohang > .giohang-header {
        font-size: 24px;
    }

    .giohang-item {
        width: 75%;
        max-width: 1500px;
    }

    .booking-item label{
        font-size: 19px;
    }

    .booking-item > .item-infomation-container {
        grid-template-rows: 1fr 0.2fr;
    }

    .booking-item .item-input-container .item-price {
        font-size: 20px;
    }
}

/* 
select animation
    .item-select-warper {
    position: relative;
    width: 100%;
}

.item-select-warper .item-select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.2s ease;
}

select:focus + .item-select-icon {
    transform: translateY(-50%) rotate(180deg);
} */