@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-1: #5810BE;
    --color-2: #4FD5C8;
    --color-3: #0C0C0C;
    --color-4: #FDFDF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}

.gt-container {
    background-color: var(--color-3);
    padding: 0px 20px;
}

/* HEADER */
.gt-header {
    padding: 20px 0px;
    align-items: center;
}

.gt-header-title {
    font-size: 48px;
    text-align: center;
    letter-spacing: -2.00px;
    color: var(--color-2);
}

.gt-header-content {
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--color-4);
}

/* INTRO */
.gt-intro {
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 0px 20px 0px;
}

.gt-intro-bg {  
    background-image: url(../images/about/head-bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 100%;
    height: 400px;
}

.gt-intro-cover {
    padding: 95px 40px 40px 30px;
    background-color: #0C0C0C50;
    width: 100%;
    height: 400px;
}

.gt-intro-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.25px;
    margin-bottom: 20px;
    color: var(--color-4);
}

/* TITLE, CONTENT || SECTION 2: ABOUT US || */ 
.gt-intro-content, 
.gt-about-content {
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 1.5;
    color: var(--color-4);
}

.gt-about-title {
    font-size: 18px;
    font-weight: 700;
    color:var(--color-2);
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: -0.1px;
}

/* SECTION 3: RECOMMENDED BY */
/* NOTES: "rcm" = recommended */

.gt-rcm-title {
    font-weight: 700;
    color: var(--color-2);
    font-size: 14px;
    letter-spacing: -0.5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.gt-rcm-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;  
}

.gt-rcm-item {
    width: 75px;
    height: 75px;
    border: 0.2px solid #FDFDF970;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gt-rcm-logo {
    width: 100%;
    padding: 10px 10px;
    object-fit: contain;
}

.gt-bvlgari,
.gt-YG,
.gt-hsbc,
.gt-mastercard {
    height: 90%;
}

@media screen and (min-width: 768px) {
    /* CONTAINER */
    .gt-container {
        padding: 0px 30px;
    }

    /* HEADER */
    .gt-header-title {
        font-size: 54px;
    }

    .gt-header-content {
        font-size: 24px;
    }
    /* INTRO */
    .gt-intro {
        padding: 0px 50px 0px;
    }

    .gt-intro-bg {
        border-radius: 15px;
        height: 550px;
    }

    .gt-intro-cover {
        background-color: #0C0C0C70;
        padding: 120px 60px 60px 40px;
        height: 550px;
    }

    .gt-intro-title {
        font-size: 42px;
    }

    .gt-intro-content {
        font-size: 22px;
    }
    /* SECTION 2: ABOUT US || */ 
    .gt-about {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .gt-about-title {
        font-size: 16px;
        margin-top: 25px;
    }

    .gt-about-content {
        font-size: 15px;
    }

    /* SECTION 3: RECOMMENDED BY */
    /* NOTES: "rcm" = recommended */
    .gt-rcm-container {
        padding-bottom: 30px;
    }
    .gt-rcm-title {
        font-size: 20px;
    }

    .gt-rcm-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;  
    }

    .gt-rcm-item {
        width: 130px;
        height: 130px;
    }

    .gt-rcm-logo {
        width: 90%;
    }

    .gt-hsbc {
        height: 80%;
    }
}

@media screen and (min-width: 1024px) {
    /* CONTAINER */
    .gt-container {
        padding: 0px 40px;
    }

    /* HEADER */
    .gt-header-title {
        font-size: 60px;
    }

    .gt-header-content {
        font-size: 28px;
    }

    /* SECTION 1 */
    .gt-intro {
        padding: 0px 100px 0px;
    }

    .gt-intro-bg {
        border-radius: 20px;
        height: 600px;
    }

    .gt-intro-cover {
        padding: 190px 60px 60px 60px;
        height: 600px;
    }

    .gt-intro-title {
        font-size: 48px;
    }

    .gt-intro-content {
        margin-top: 40px;
        padding-right: 250px;
        font-size: 24px;
    }
    /* SECTION 2: ABOUT US || */ 
    .gt-about-title {
        font-size: 24px;
        margin-top: 30px;
    }

    .gt-about-content {
        font-size: 18px;
    }   

    /* SECTION 3: RECOMMENDED BY */
    /* NOTES: "rcm" = recommended */
    .gt-rcm {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 150px;
        margin: 30px 70px 0px;
    }

    .gt-rcm-title {
        font-size: 20px;
    }

    .gt-rcm-item {
        width: 150px;
        height: 150px;
    }
}