@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-1: #5810BE;
    --color-2: #4FD5C8;
    --color-3: #0C0C0C;
    --color-4: #FDFDF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}

.lh-container {
    background-color: var(--color-3);
}

/* INTRO */
.lh-intro-bg {  
    background-image: url(../images/contact/head-bg.png);
    background-size: 170%;
    background-position: center;
    width: 100%;
    height: 150px;
}

.lh-intro-cover {
    padding: 40px 10px 10px;
    background-color: #0C0C0C90;
    width: 100%;
    height: 150px;
}

.lh-intro-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.25px;   
    color: var(--color-2);
}

.lh-intro-content {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: -0.1px;
    line-height: 1.5;
    color: var(--color-4);
}

/* VIEW ON MAP */
.lh-map-container {
    padding: 20px;
}

.lh-map-title {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.25px;   
    color: var(--color-2);
}

.lh-view-on-map {
    margin-top: 5px;
    width: 100%;
    height: 340px;
}

.lh-ggmap {
    border-radius: 5px;
    width: 100%;
    height: 340px;
}

/* FEEDBACK FORM */
/* NOTES: "fb" = feedback */
.lh-fb-form-container {
    background-color: var(--color-4);
    margin-top: 15px;
    padding: 20px;
    width: 100%;
}

.lh-fb-title {
    color: var(--color-2);
    margin-bottom: 5px;
    font-size: 24px;
}

.lh-fb-content {
    color: #0C0C0C50;
    margin-bottom: 20px;
    font-size: 14px;
}

#lh-fb-form label {
    display: block;
    margin-top: 15px;
    font-style: normal;
    font-weight: 550;
}

#lh-fb-form input,
#lh-fb-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #0C0C0C30;
    padding: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    background: none;
}

/* Mở rộng kích thước của khu vực Nội dung */
#lh-fb-form textarea {
    height: 80px;
    resize: vertical;
}

#lh-fb-form button {
    display: block;
    margin: 25px auto 0;
    width: 60%;
    padding: 12px;
    background: var(--color-3);
    color: var(--color-4);
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    /* INTRO */
    .lh-intro-bg {  
        background-size: cover;
        background-position: calc(0px) calc(450px);
        height: 200px;
    }

    .lh-intro-cover {
        padding: 50px 20px 10px;
        height: 200px;
    }

    .lh-intro-title {
        font-size: 54px;
    }

    .lh-intro-content {
        font-size: 20px;
    }

    /* VIEW ON MAP */
    .lh-map-container {
        display: block;
        padding: 10px 30px 10px;
    }

    .lh-map-title {
        margin-left: 30px;
        font-size: 28px;
    }

    .lh-view-on-map {
        margin: 10px auto;
        height: 450px;
    }

    .lh-ggmap {
        border-radius: 10px;
        height: 450px;
    }

    /* FEEDBACK FORM */
    /* NOTES: "fb" = feedback */
    .lh-fb-form-container {
        display: block;
        background-color: var(--color-4);
        margin: 0 auto;
        padding: 20px 20%;
    }

    .lh-fb-title {
        color: var(--color-2);
        margin-bottom: 5px;
        font-size: 32px;
    }

    .lh-fb-content {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    /* INTRO */
    .lh-intro-bg {  
        background-position: calc(0px) calc(750px);
        height: 300px;
    }

    .lh-intro-cover {
        padding: 120px 40px 10px;
        height: 300px;
    }

    .lh-intro-title {
        font-size: 60px;
    }

    .lh-intro-content {
        font-size: 24px;
    }

    /* MAP AND FEEDBACK FORM */
    .lh-map-and-fb-form {
        display: flex;
        flex-direction: row-reverse;
        background-color: var(--color-4);
    }

    .lh-map-container,
    .lh-fb-form-container {
        flex: 1;
    }

    .lh-map-title {
        display: none;
    }

        /* FEEDBACK FORM */
    .lh-fb-form-container {
        padding: 20px 10%;
    }
}
