@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-1: #5810BE;
    --color-2: #4FD5C8;
    --color-3: #0C0C0C;
    --color-4: #FDFDF9;
}

.sanpham-header {
    background-color: var(--color-3);
    color: var(--color-2);
    text-align: center;
    padding: 10px;
}

.sanpham-header h1 {
    font-size: 40px;
}

.sanpham-header p {
    color: white;
    font-size: 16px;
}

.sanpham-packages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
    padding: 10px 0px;
}

.package {
    background-color: white;
    width: 165px;
    height: 205px;
    border: 3px solid #5810BE;
    border-radius: 5px;
    /* flex: 1; */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

.package h2 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

.package ul {
    font-size: 12px;
    list-style: disc inside;
    padding: 3px;
}

.silver {
  background-color: #DCDCDC;
}

.gold {
  background-color: #FFD700;
}

.sanpham-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.sanpham-list h2 {
    font-size: 20px;
    color: #5810BE;
    text-align: center;
    padding-bottom: 2.5px;
}

.sanpham-element {
    width: 340px;
    text-align: center;
    background-color: var(--color-3);
    border-radius: 5px;
    margin-bottom: 10px;
}

.sanpham-element img {
    width: 330px;
    height: 194px;
    margin-top: 5px;
    border-radius: 5px;
}

.sanpham-element p {
    color: var(--color-4);
    font-size: 13px;
    margin: 0px 5px;
}

.sanpham-mucgia {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 5px 0px 5px;
}

.sanpham-goi {
    width: 105px;
    background-color: var(--color-1);
    color: var(--color-4);
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.fa-caret-up {
    color: var(--color-2);
}