/* 
File gộp để sau này gom hết CSS vào 1 file này duy nhất
Các thuộc tính chung nhất sẽ để ở đây trước. Vd: màu tổng thể, css cho header...
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --color-1: #333333;
    --color-2: #4a4a4a;
    --color-3: #f7f7f7;
    --color-4: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
}


