/* ------------SECTION 1: COVER TRANG CHỦ------------ */
.index-container {
    width: 100%;
}

.tchu-section-1{
    background-image: url(../../assets/images/home/head-bg.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
}

.trangchu-cover {
    background-color: #5810be50;
    height: 225px;
    width: 100%;
    padding: 20px;
}

.trangchu-cover > div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.tchu-section1-text1 > p{
    color: var(--color-2);
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.layer-img {
    height: 53px;
}

.tchu-section1-text2 > p{
    color: var(--color-4);
    margin: 20px 0 15px 0;
    font-style: italic;
    font-weight: 250;
    font-size: 12px;
}

.tchu-a{
    text-decoration: none;
    color: var(--color-4);  
    font-size: 10px;  
}

.tchu-btn {
    width: 105px;
    height: 30px;
    background: var(--color-1);
    border-radius: 22px;
    padding: auto auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tchu-btn:hover{
    background-color: var(--color-2);
    transition-duration: 200ms;
    cursor: pointer;
}

/* ------------SECTION 2: TÓM TẮT VỀ CÔNG TY------------ */

.trangchu-summary {
    background: var(--color-4);
}

.trangchu-summary > div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.tchu-section2-text1 > .section2-title{
    color: var(--color-2);
    font-size: 25px;
    width: 80%;
    text-align: center;
    font-weight: 600;
    line-height: 28px;
    margin-top: 15px;
}

.tchu-section2-text1 > .section2-title > span {
    color: gray;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    line-height: 20px;
}

.tchu-section2-text2 > p {
    font-size: 16px;
    text-align: center;
    color: var(--color-3);
    width: 300px;
    font-weight: 400;
    line-height: 22px;
}

i.tchu-line {
    color: var(--color-2);
    font-size: 20px;
    line-height: 28px;
    margin: 5px 0;
}

.tchu-section2-btn {
    margin-bottom: 20px;
}

/* ------------SECTION 3: PHÂN LOẠI SỰ KIỆN------------ */
.trangchu-category {
    background: var(--color-3);
}

.trangchu-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tchu-section3-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tchu-section3-container > div {
    width: 85%;
    height: 215px;
    background-position: center;
    background-size: cover;
    margin-top: 25px;
}

.tchu-section-3-inner-text {
    color: var(--color-4);
    font-size: 27px;
    width: fit-content;
}

.tchu-section3-img1{
    background-image: url(../images/product/hoi-thao.jpg);
}
.tchu-section3-img2{
    background-image: url(../images/product/le-ky-niem.jpg);
}
.tchu-section3-img3{
    background-image: url(../images/product/su-kien-khai-truong.jpg);
}
.tchu-section3-img4{
    background-image: url(../images/product/su-kien-am-nhac.jpg);
}

.tchu-section3-black {
    width: 100%;
    height: 100%;
    background-color: #0C0C0C40;
    padding: 160px 0 0 27px;
}

.tchu-section-3-text {
    width: 100%;
    margin: 20px 0;
}

.tchu-section-3-text > p {
    color: var(--color-2);
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}

.tchu-section3-btn {
    margin-bottom: 20px;
}
/* ------------SECTION 4: SỰ KIỆN NỔI BẬT------------ */
.tchu-section-4 {
    background-image: url(../images/bg/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trangchu-outstand {
    background-color: #0C0C0C10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.outstand-event-title > h3 {
    color: var(--color-2);
    font-size: 28px;
    margin-left: 8px;
    margin-top: 10px;
}

.outstand-event{
    height: 62px;
    border-bottom: 1px solid var(--color-4);
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.outstand-event-text {
    width: 81%;
}

.outstand-event-text > h5 {
    font-size: 18px;
    color: var(--color-4);
}

.outstand-event-text > p {
    font-size: 11px;
    font-style: italic;
    font-weight: 200;
    color: var(--color-4);
}

.outstand-event-4 {
    margin-bottom: 10px;
}

.outstand-event.outstand-event-4 {
    border-bottom: none;
}

.a-consult{
    text-decoration: none;
    color: var(--color-4);
    font-size: 10px;
}

.tchu-section4-consult-btn {
    width: 75px;
    height: 35px;
    font-size: 11px;
    line-height: 40px;
    background: var(--color-2);
    border-radius: 18px;
    text-decoration: none;
    padding: auto auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tchu-section4-consult-btn:hover {
    background-color: var(--color-1);
    transition-duration: 200ms;
    cursor: pointer;
}

/* ------------SECTION 5: REVIEW CỦA KHÁCH HÀNG------------ */
.trangchu-customer-review {
    background: var(--color-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tchu-section5-title {
    width: 100%;
    margin: 15px 0;
}

.star-a {
    font-size: 7px;
}

.star-b {
    font-size: 10px;
}

.star-c {
    font-size: 13px;
}

.tchu-section5-title > h5{
    color: var(--color-2);
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.tchu-section5-rating {
    width: 100%;
    text-align: center;
    color: #FFEB00;
    margin-bottom: 10px;
}

.feedback {
    width: 85%;
}

.feedback-content {
    color: var(--color-3);
    text-align: justify;
}

.feedback-owner {
    margin: 10px 0 25px 0;
    color: var(--color-3);
    font-weight: 700;
    font-size: 11px;
}

@media screen and (min-width: 768px){
    /* ------------SECTION 1: COVER TRANG CHỦ------------ */
    .trangchu-cover {
        height: 450px;
        padding: 30px;
    }

    .tchu-section1-text1 > p{
        color: var(--color-2);
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 28px;
    }

    .layer-img {
        height: 100px;
    }

    .tchu-section1-text2 > p{
        margin-bottom: 30px;
        font-size: 18px;
    }

    .tchu-a{
        text-decoration: none;
        color: var(--color-4);  
        font-size: 13px; 
    }

    .tchu-btn {
        width: 140px;
        height: 40px;
        border-radius: 20px;
    }

    /* ------------SECTION 2: TÓM TẮT VỀ CÔNG TY------------ */
    .tchu-br {
        display: none;
    }

    .tchu-section2-text1 > .section2-title{
        font-size: 28px;
        width: 100%;
        line-height: 30px;
        margin-top: 25px;
    }

    .tchu-section2-text1 > .section2-title > span {
        font-size: 16px;
    }

    .tchu-section2-text2 > p {
        font-size: 25px;
        width: 75%;
        font-weight: 300;
        line-height: 35px;
    }

    i.tchu-line {
        margin: 10px 0;
    }

    .tchu-section2-btn {
        margin-bottom: 30px;
    }

    /* ------------SECTION 3: PHÂN LOẠI SỰ KIỆN------------ */

    .tchu-section3-container > div {
        width: 46%;
        height: 250px;
        margin-top: 30px;
    }

    .tchu-section3-container > div:nth-child(2n+1){
        margin-left: 10px;
    }
    .tchu-section3-container > div:nth-child(2n){
        margin-right: 10px;
    }

    .tchu-section-3-inner-text {
        font-size: 30px;
    }

    .tchu-section3-black {
        padding: 190px 0 0 50px;
    }

    .tchu-section-3-text {
        margin: 25px 0;
    }

    .tchu-section-3-text > p {
        font-size: 28px;
    }

    .tchu-section3-btn {
        margin-bottom: 30px;
    }

    /* ------------SECTION 4: SỰ KIỆN NỔI BẬT------------ */
    .outstand-event-title > h3 {
        font-size: 30px;
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .outstand-event{
        height: 70px;
        width: 85%;
        margin-top: 12px;
    }

    .outstand-event-text {
        width: 85%;
    }

    .outstand-event-text > h5 {
        font-size: 28px;
    }

    .outstand-event-text > p {
        font-size: 18px;
    }

    .outstand-event-4 {
        margin-bottom: 18px;
    }

    .a-consult{
        font-size: 13px;
    }

    .tchu-section4-consult-btn {
        width: 100px;
        height: 45px;
        line-height: 45px;
        border-radius: 25px;
    }

    /* ------------SECTION 5: REVIEW CỦA KHÁCH HÀNG------------ */

    .star-a {
        font-size: 10px;
    }

    .star-b {
        font-size: 13px;
    }

    .star-c {
        font-size: 16px;
    }

    .tchu-section5-title > h5{
        font-size: 25px;
    }

    .tchu-section5-rating {
        margin-bottom: 15px;
    }

    .feedback-content > p {
        font-size: 25px;
    }

    .feedback-owner {
        margin: 18px 0 32px 0;
    }

    .feedback-owner > p {
        font-size: 21px;
    }
}

@media screen and (min-width: 1024px){
     /* ------------SECTION 1: COVER TRANG CHỦ------------ */
    .trangchu-cover {
        height: 650px;
        padding: 25px;
    }
    .tchu-section1-text1 > p{
        color: var(--color-2);
        margin-top: 135px;
        margin-bottom: 50px;
        font-size: 35px;
    }

    .layer-img {
        height: 130px;
    }

    .tchu-section1-text2 > p{
        margin-bottom: 30px;
        font-size: 22px;
    }

    .tchu-a{
        text-decoration: none;
        color: var(--color-4);  
        font-size: 18px; 
    }

    .tchu-btn {
        width: 170px;
        height: 50px;
        border-radius: 25px;
    }

    /* ------------SECTION 2: TÓM TẮT VỀ CÔNG TY------------ */
    .tchu-section2-text1 > .section2-title{
        font-size: 35px;
        line-height: 45px;
        margin-top: 35px;
    }

    .tchu-section2-text1 > .section2-title > span {
        font-size: 20px;
    }

    .tchu-section2-text2 > p {
        font-size: 30px;
        line-height: 40px;
    }

    i.tchu-line {
        margin: 15px 0;
    }

    .tchu-section2-btn {
        margin-bottom: 40px;
    }
        
    /* ------------SECTION 3: PHÂN LOẠI SỰ KIỆN------------ */

    .tchu-section3-container {
        width: 80%;
    }

    .tchu-section3-container > div {
        height: 275px;
        margin-top: 35px;
    }

    .tchu-section-3-inner-text {
        font-size: 32px;
    }

    .tchu-section3-black {
        padding: 210px 0 0 10%;
    }

    .tchu-section-3-text {
        margin: 30px 0;
    }

    .tchu-section-3-text > p {
        font-size: 35px;
    }

    .tchu-section3-btn {
        margin-bottom: 40px;
    }

        
    /* ------------SECTION 4: SỰ KIỆN NỔI BẬT------------ */

    .outstand-event-title > h3 {
        font-size: 38px;
        margin-top: 20px;
    }

    .outstand-event{
        height: 80px;
        width: 80%;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .outstand-event-text {
        width: 90%;
    }

    .outstand-event-4 {
        margin-bottom: 25px;
    }

    .a-consult{
        font-size: 18px;
    }

    .tchu-section4-consult-btn {
        width: 120px;
        height: 55px;
        line-height: 55px;
        border-radius: 30px;
    }

    /* ------------SECTION 5: REVIEW CỦA KHÁCH HÀNG------------ */

    .star-a {
        font-size: 15px;
    }

    .star-b {
        font-size: 20px;
    }

    .star-c {
        font-size: 25px;
    }

    .tchu-section5-title > h5{
        margin-top: 10px;
        font-size: 30px;
    }

    .tchu-section5-rating {
        margin-bottom: 20px;
    }

    .feedback {
        width: 75%;
        margin-bottom: 20px;
    }
}