@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-1: #5810BE;
    --color-2: #4FD5C8;
    --color-3: #0C0C0C;
    --color-4: #FDFDF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}
/* ------------SECTION 1: COVER TRANG CHỦ------------ */
.index-container {
    width: 100%;
}

.tchu-section-1{
    background-image: url(../../assets/images/home/head-bg.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
}

.trangchu-cover {
    background-color: #5810BE45;
    height: 225px;
    width: 100%;
    padding: 20px;
}

.trangchu-cover > div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.tchu-section1-text1 > p{
    color: var(--color-2);
    margin-bottom: 15px;
    font-size: 16px;
}

.layer-img {
    height: 53px;
}

.tchu-section1-text2 > p{
    color: var(--color-4);
    margin-bottom: 15px;
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
}

.tchu-a{
    text-decoration: none;
    color: var(--color-4);  
    font-size: 8.5px;  
}

.tchu-btn {
    width: 90px;
    height: 20px;
    background: var(--color-1);
    border-radius: 10px;
    padding: auto auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tchu-btn:hover{
    background-color: var(--color-2);
}

/* ------------SECTION 2: TÓM TẮT VỀ CÔNG TY------------ */

.trangchu-summary {
    background: var(--color-4);
}

.trangchu-summary > div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.tchu-section2-text1 > .section2-title{
    color: var(--color-2);
    font-size: 25px;
    width: 80%;
    text-align: center;
    font-weight: 600;
    line-height: 28px;
    margin-top: 15px;
}

.tchu-section2-text1 > .section2-title > span {
    color: gray;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    line-height: 20px;
}

.tchu-section2-text2 > p {
    font-size: 16px;
    text-align: center;
    color: var(--color-3);
    width: 300px;
    font-weight: 400;
    line-height: 22px;
}

i.tchu-line {
    color: var(--color-2);
    font-size: 20px;
    line-height: 28px;
    margin: 5px 0;
}

.tchu-section2-btn {
    margin-bottom: 20px;
}

/* ------------SECTION 3: PHÂN LOẠI SỰ KIỆN------------ */
.trangchu-category {
    background: gray;
    height: 320px;
}


/* ------------SECTION 4: SỰ KIỆN NỔI BẬT------------ */
.trangchu-outstand {
    background: #FDFDF9;
    height: 320px;
}

.a-consult{
    text-decoration: none;
    color: var(--color-4);
}

.tchu-section4-consult-btn {
    width: 75px;
    height: 35px;
    font-size: 11px;
    line-height: 40px;
    background: var(--color-2);
    border-radius: 14px;
    text-decoration: none;
    padding: auto auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* ------------SECTION 5: REVIEW CỦA KHÁCH HÀNG------------ */
.trangchu-customer-review {
    background: gray;
    height: 310px;
}

@media screen and (min-width: 768px){
    /* ------------SECTION 1: COVER TRANG CHỦ------------ */
    .trangchu-cover {
        height: 450px;
        padding: 30px;
    }

    .tchu-section1-text1 > p{
        color: var(--color-2);
        margin-bottom: 30px;
        font-size: 28px;
    }

    .layer-img {
        height: 100px;
    }

    .tchu-section1-text2 > p{
        margin-bottom: 30px;
        font-size: 18px;
    }

    .tchu-a{
        text-decoration: none;
        color: var(--color-4);  
        font-size: 13px; 
    }

    .tchu-btn {
        width: 140px;
        height: 40px;
        border-radius: 20px;
    }

    /* ------------SECTION 2: TÓM TẮT VỀ CÔNG TY------------ */
    .tchu-br {
        display: none;
    }

    .tchu-section2-text1 > .section2-title{
        font-size: 28px;
        width: 100%;
        line-height: 30px;
        margin-top: 25px;
    }

    .tchu-section2-text1 > .section2-title > span {
        font-size: 16px;
    }

    .tchu-section2-text2 > p {
        font-size: 25px;
        width: 75%;
        font-weight: 300;
        line-height: 35px;
    }

    i.tchu-line {
        margin: 10px 0;
    }

    .tchu-section2-btn {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px){
     /* ------------SECTION 1: COVER TRANG CHỦ------------ */
    .trangchu-cover {
        height: 510px;
        padding: 25px;
    }
    .tchu-section1-text1 > p{
        color: var(--color-2);
        margin-bottom: 30px;
        font-size: 35px;
    }

    .layer-img {
        height: 130px;
    }

    .tchu-section1-text2 > p{
        margin-bottom: 30px;
        font-size: 22px;
    }

    .tchu-a{
        text-decoration: none;
        color: var(--color-4);  
        font-size: 18px; 
    }

    .tchu-btn {
        width: 170px;
        height: 50px;
        border-radius: 25px;
    }

    /* ------------SECTION 2: TÓM TẮT VỀ CÔNG TY------------ */
    .tchu-section2-text1 > .section2-title{
        font-size: 35px;
        line-height: 45px;
        margin-top: 35px;
    }

    .tchu-section2-text1 > .section2-title > span {
        font-size: 20px;
    }

    .tchu-section2-text2 > p {
        font-size: 30px;
        line-height: 40px;
    }

    i.tchu-line {
        margin: 15px 0;
    }

    .tchu-section2-btn {
        margin-bottom: 40px;
    }
}